DB_PATH = "your_database_local_path_here"
ANNOTATION_PATH = "your_annotation_local_path_here"
EXAMPLES_PATH = "your_fewshot_examples_local_path_here"
ATTRIBUTE_DESC_PATH = "your_attribute_descriptions_local_path_here"